{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="../static/css/data.css">
{% endblock %}

{% block body %}
    <div class="split left">
        <div class="list">
            <label id="adminname">Data Panel</label><br>
            <a href="{{ url_for('displayStudents') }}">Students</a><br>
            <a href="{{ url_for('displayFaculties') }}">Faculties</a><br>
            <a href="{{ url_for('displayDoctors') }}">Doctors</a><br>
            <a href="{{ url_for('displayCourses') }}">Courses</a><br>
            <a href="{{ url_for('displayAttendance') }}">Attendance</a><br>
            <a href="{{ url_for('displayLogs') }}">Logs</a><br>

        </div>
        
    </div>
    <div class="split right">
            <div class="topnav">
              <a href="/">Home</a>
              <a href="/register">Register</a>
              <a class="active" href="/admin">Admin</a>
            </div><br>
            <div class="dataPage">
            <form id="searchBox"class="form-inline d-flex justify-content-center md-form form-sm mt-0">
            <i class="fas fa-search" aria-hidden="true"></i>
            <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
            aria-label="Search">
            </form><br>
                <table class="table">
                      <thead class="thead-dark">
                        {% if table %}
                        <tr>
                            {% for key in table[0].keys() %}
                              <th>{{ key }}</th>
                            {% endfor %}
                        </tr>
                          </thead>
                          <tbody>
                                {% for row in table %}
                                    <tr>
                                    {% for key in row.keys() %}
                                        <td>{{ row[key] }}</td>
                                    {% endfor %}
                                    </tr>
                                {% endfor %}                            
                          </tbody>
                        {% endif %}
                </table>
            </div>

    </div> 
     
{% endblock %}
    