{% extends 'base.html' %}

 {% block head %}

 {% endblock %}

 {% block body %}
    <div class="topnav">
          <a class="active" href="/">Home</a>
          <a href="/register">Register</a>
          <a href="/admin">Admin</a>
        </div>
        <h1 id="title">Face Recognition Attendence System</h1>
        <div class=features>
            <form action='/' method='POST' enctype='multipart/form-data' class="form-group">
                <input id='courseCode' type="text" name='courseCode' placeholder="Course Code">
                <input id='lectureNUM' type="number" name='lectureNUM' placeholder="Lecture Number">
                <br>
                <input id='UploadImg' name='UploadImg' type='file'>
                <button id='opencamera' type="button" class="btn btn-primary">Open Camera</button>
                <br>
                <button id="submit_attend" type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <br>
                <div class="text-center">{{ messages[0] }}</div>
            {% endif %}
        {% endwith %}
 {% endblock %}
