{% extends 'base.html' %}

{% block head %}
  <link rel="stylesheet" href="../static/css/form style.css">
{% endblock %}

{% block body %}
<script src="../static/js/bootstrap-validate.js"></script>
  <div class="topnav">
          <a href="/">Home</a>
          <a class="active" href="/register">Register</a>
          <a href="/admin">Admin</a>
    </div>
    <form id="myForm" action="/register" method="POST" enctype='multipart/form-data'>
          <label for="fullname">Full Name</label><br>
          <input type="text" id="fullname" name="fullname"><br>
          <label for="studentid">Student ID</label><br>
          <input type="number" id="studentid" name="studentid"><br>
          <label for="gender">Gender</label><br>
          <select name="gender" id="gender">
              <option value="M">Male</option>
              <option value="F">Female</option>
          </select><br>
          <label for="email">Email</label><br>
          <input type="text" id="email" name="email"><br>
          <label for="university">University</label><br>
          <select name="university" id="university">
              <option value="Suez">Suez</option>
              <option value="cairo">Cairo</option>
              <option value="suez canal">Suez Canal</option>
              <option value="ain shams">Ain Shams</option>
          </select><br>
          <label for="faculty">Faculty</label><br>
          <select name="faculty" id="faculty">
              <option value="FCI">Computers and Information</option>
              <option value="engineering">Engineering</option>
          </select><br>
          <label for="courses">Courses</label><br>
          <input type="text" id="courses" name="courses" placeholder="SE301,CS381,CS352 or none" ><br>
          <input id="uploadImg" name="uploadImg" type="file"><br>
          <button class="btn btn-primary" id="takephoto" type="button">Take Photo</button><br>
          <button class="btn btn-primary"id="reset" type="button" onclick="resetFun()">Reset</button>
          <button class="btn btn-primary"id="register" type="submit" onclick="validateForm()">Register</button><br>
    </form> 
{% endblock %}
