.errorPage
{
 text-align: center;
}

a
{
  background-color: #0d6efd;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Sans-serif;
}

#wrong
{
   font-size: 100px;
   font-family: Sans-serif;
}

#wrongMessage
{
   font-family: Sans-serif;
}
