{% extends 'base.html' %}

{% block head %}
	<link rel="stylesheet" href="../../static/css/admin.css">
{% endblock %}

{% block body %}
<script src="../static/js/bootstrap-validate.js"></script>
	<div class="topnav">
          <a href="/">Home</a>
          <a href="/register">Register</a>
          <a class="active" href="/admin">Admin</a>
		</div>
		<div class=features>
           <form action='/admin/login' method='POST' enctype='multipart/form-data' class="form-group">
              {{ form.csrf_token() }}
                <div class="form-group">
                    {{ form.username.label }}
                    {{ form.username() }}
                </div>
                <div class="form-group">
                    {{ form.password.label }}
                    {{ form.password() }}
                </div><br>
                
              <input id="showpassword" type="checkbox" onclick="showpass()"> Show Password<br>
              <button class="btn btn-primary" id="login" name="login" type="submit" onclick="validateAdmin()">Login</button><br>

           </form>
    </div>

            {% with messages = get_flashed_messages() %}
                {% for message in messages %}
                    <div class="text-center">{{ message }}</div>
                {% endfor %}
            {% endwith %}

{% endblock %}
	
