{% extends 'base.html' %}

{% block body %}
<div class="topnav">
          <a href="/">Home</a>
          <a class="active" href="/attendance">Attendence</a>
          <a href="/register">Register</a>
          <a href="/admin">Admin</a>
          <a href="/contact">Contact Us</a>
    </div>
<br>
<div class="col-md-12 text-center">
    <h1>Processing your face ...</h1>
    <br>
    <img src='/video_feed'>
    <br>
    <h2><a href='/close_cam'>Close Camera</a></h2>
    <h2><a href='/'>Go back</a></h2>
</div>
{% endblock %}