{% extends 'base.html' %}

{% block head %}
  <link rel="stylesheet" href="../static/css/form style.css">
{% endblock %}

{% block body %}
<script src="../static/js/bootstrap-validate.js"></script>
    <div class="topnav">
          <a href="/">Home</a>
          <a href="/attendance">Attendence</a>
          <a href="/register">Register</a>
          <a href="/admin">Admin</a>
          <a class="active" href="/contact">Contact Us</a>
    </div>
   

  <!-- Contact Us Section -->
    <section class="Material-contact-section section-padding section-dark">
      <div class="container">
          <div class="row">
              <!-- Section Titile -->
              <div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
                  <h1 class="section-title">Love to Hear From You</h1>
              </div>
          </div>
          <div class="row">
              <!-- Section Titile -->
              <div class="col-md-6 mt-3 contact-widget-section2 wow animated fadeInLeft" data-wow-delay=".2s">
                <p>It is a long established fact that using the new technology in our lives is extremely important and makes our day-to-day lives better and easier. That's why we are interested in your opinion on how to make our system better.</p>

                <div class="find-widget">
                 University:  <a href="https://hostriver.ro">Suez University</a>
                </div>
                <div class="find-widget">
                 Faculty: <a href="#">Faculty of Computers and Information</a>
                </div>
                <div class="find-widget">
                  Address:  <a href="#">Suez, Egypt</a>
                </div>
                
                <div class="find-widget">
                  Website:  <a href="https://uny.ro">http://suezuni.edu.eg/</a>
                </div>
                <div class="find-widget">
                   Year: <a href="#">Spring, 2021</a>
                </div>
              </div>
              <!-- contact form -->
              <div class="col-md-6 wow animated fadeInRight map" data-wow-delay=".2s">
                  
              </div>
          </div>
      </div>
    </section>
    
{% endblock %}
