{% extends 'base.html' %}

{% block head %}
  <link rel="stylesheet" href="../static/css/form style.css">
{% endblock %}

{% block body %}
<script src="../static/js/bootstrap-validate.js"></script>
    <div class="topnav">
          <a href="/">Home</a>
          <a href="/attendance">Attendence</a>
          <a href="/register">Register</a>
          <a href="/admin">Admin</a>
          <a class="active" href="/contact">Contact Us</a>
    </div>
   

  <!-- Contact Us Section -->
    <section class="Material-contact-section section-padding section-dark">
      <div class="container">
          <div class="row">
              <!-- Section Titile -->
              <div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
                  <h1 class="section-title">Love to Hear From You</h1>
              </div>
          </div>
          <div class="row">
              <!-- Section Titile -->
              <div class="col-md-6 mt-3 contact-widget-section2 wow animated fadeInLeft" data-wow-delay=".2s">
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using Content.</p>

                <div class="find-widget">
                 Company:  <a href="https://hostriver.ro">HostRiver</a>
                </div>
                <div class="find-widget">
                 Address: <a href="#">4435 Berkshire Circle Knoxville</a>
                </div>
                <div class="find-widget">
                  Phone:  <a href="#">+ 879-890-9767</a>
                </div>
                
                <div class="find-widget">
                  Website:  <a href="https://uny.ro">www.uny.ro</a>
                </div>
                <div class="find-widget">
                   Program: <a href="#">Mon to Sat: 09:30 AM - 10.30 PM</a>
                </div>
              </div>
              <!-- contact form -->
              <div class="col-md-6 wow animated fadeInRight map" data-wow-delay=".2s">
                  
              </div>
          </div>
      </div>
    </section>
    
{% endblock %}
