{% extends 'base.html' %}

{% block head %}
  <link rel="stylesheet" href="../static/css/form style.css">
{% endblock %}

{% block body %}
<script src="../static/js/bootstrap-validate.js"></script>
    <div class="topnav">
          <a class="active" href="/">Home</a>
          <a href="/">Attendence</a>
          <a href="/register">Register</a>
          <a href="/admin">Admin</a>
          <a href="/">Contact Us</a>
    </div>
    <div style="background-image: url('facRec.jpg');">
      <p>
        With this web site you can make yor attendence system !
        Rigester attendees information then you can take attendence
        with face recognition technology.

      </p>

    </div>
    
{% endblock %}
