{% extends 'base.html' %}

{% block head %}
  <link rel="stylesheet" href="../static/css/form style.css">
{% endblock %}

{% block body %}
<script src="../static/js/bootstrap-validate.js"></script>
    <div class="topnav">
          <a class="active" href="/">Home</a>
          <a href="/attendance">Attendence</a>
          <a href="/register">Register</a>
          <a href="/admin">Admin</a>
          <a href="/contact">Contact Us</a>
    </div>
    <div class="wall">
        <div class="shadow"></div>
        <div class="container py-5 top">
            <h1 class="h1 text-white text-center"> Face Recognition Attendence System </h1>
            <h3 class="h3 text-white text-center py-4 intro">
                With this web site you can make yor attendence system !
                Rigester attendees information then you can take attendence
                with face recognition technology.

            </h3>
        </div>
    </div>
    
{% endblock %}
