{% extends 'base.html' %}

{% block head %}
  <link rel="stylesheet" href="../static/css/form style.css">
{% endblock %}

{% block body %}
<script src="../static/js/bootstrap-validate.js"></script>
    <div class="topnav">
          <a class="active" href="/">Home</a>
          <a href="/attendance">Attendence</a>
          <a href="/register">Register</a>
          <a href="/admin">Admin</a>
          <a href="/contact">Contact Us</a>
    </div>
    <div class="wall">
        <div class="shadow"></div>
        <div class="container py-5 top">
            <h1 class="h1 text-white text-center"> Face Recognition Attendence System </h1>
            <h6 class="h3 text-white text-center py-4 intro">
Automate student attendance monitoring processes through face recognition algorithms from encoded live video frames captured by an IOT-based embedded system which is running on Raspberry Pi 3 model B+ connected to Raspberry Pi camera module V2. Camera module is responsible to capture high-definition video quality to meet the standard which lead to higher performance and efficiency.
            </h6>
            
            {% with messages = get_flashed_messages() %}
                {% for message in messages %}
                    <div class="alert alert-info text-center">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endwith %}
            
        </div>
    </div>
    
{% endblock %}
