{% extends 'base.html' %}

{% block head %}
  <link rel="stylesheet" href="../static/css/form style.css">
{% endblock %}

{% block body %}
<script src="../static/js/bootstrap-validate.js"></script>
    <div class="topnav">
          <a href="/">Home</a>
          <a href="/attendance">Attendence</a>
          <a class="active" href="/register">Register</a>
          <a href="/admin">Admin</a>
          <a href="/contact">Contact Us</a>
    </div>
    
    <div class="container">
        {% if form.errors.items() %}
                {% for field, errors in form.errors.items() %}
                    {% for error in errors %}
                        <div class="alert alert-warning" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% endfor %}
        {% endif %}
        
        <div class="features px-md-5 mx-md-5">
                <form action='/register' method='POST' enctype='multipart/form-data'>
                    {{ form.csrf_token() }}
                     <div class="form-group row mb-3">
                        {{ form.full_name.label(class_="col-sm-2 col-form-label h4") }}
                        <div class="col-sm-10">
                            {{ form.full_name(class_="form-control form-control-lg") }}
                        </div> 
                    </div>
                    
                    <div class="form-group row mb-3">
                        {{ form.student_id.label(class_="col-sm-2 col-form-label h4") }}
                        <div class="col-sm-10">
                            {{ form.student_id(class_="form-control form-control-lg") }}
                        </div> 
                    </div>
                    <div class="form-group row mb-3">
                        {{ form.gender.label(class_="col-sm-2 col-form-label h4") }}
                        <div class="col-sm-10">
                            {{ form.gender(class_="form-control form-control-lg") }}
                        </div> 
                    </div>
                    
                    <div class="form-group row mb-3">
                        {{ form.email.label(class_="col-sm-2 col-form-label h4") }}
                        <div class="col-sm-10">
                            {{ form.email(class_="form-control form-control-lg") }}
                        </div> 
                    </div>
                    
                    <div class="form-group row mb-3">
                        {{ form.university_name.label(class_="col-sm-2 col-form-label h4") }}
                        <div class="col-sm-10">
                            {{ form.university_name(class_="form-control form-control-lg") }}
                        </div> 
                    </div>
                    
                    <div class="form-group row mb-3">
                        {{ form.faculty_name.label(class_="col-sm-2 col-form-label h4") }}
                        <div class="col-sm-10">
                            {{ form.faculty_name(class_="form-control form-control-lg") }}
                        </div> 
                    </div>
                    
                    <div class="form-group row mb-3">
                        {{ form.courses_codes.label(class_="col-sm-2 col-form-label h4") }}
                        <div class="col-sm-10">
                            {{ form.courses_codes(class_="form-control form-control-lg") }}
                        </div> 
                    </div>
                    
                    <div class="form-group row mb-3">
                        {{ form.uploaded_file.label(class_="col-sm-2 col-form-label h4") }}
                        <div class="col-sm-10">
                            {{ form.uploaded_file(class_="form-control form-control-lg") }}
                        </div> 
                    </div>
                    
                    <div class="form-group justify-content-center my-5 row">
                        <button class="btn btn-lg btn-primary w-100 btn-center" type="reset" >Reset</button><br>
                        <p class="d-inline lead my-0 py-0 text-muted px-3 or"> or </p>
                        <button class="btn btn-lg btn-primary w-100 btn-center" id="register" type="submit">Register</button>
                    </div>
                </form>
        </div>
        {% with messages = get_flashed_messages() %}
                {% for message in messages %}
                    <br>
                    <div class="text-center">{{ message }}</div>
                {% endfor %}
        {% endwith %}
        </div>
{% endblock %}
