{% extends 'base.html' %}

{% block head %}
  <link rel="stylesheet" href="../static/css/form style.css">
{% endblock %}

{% block body %}
<script src="../static/js/bootstrap-validate.js"></script>
    <div class="topnav">
          <a href="/">Home</a>
          <a href="/attendance">Attendence</a>
          <a class="active" href="/register">Register</a>
          <a href="/admin">Admin</a>
          <a href="/contact">Contact Us</a>
    </div>
    <div class="alert alert-warning" role="alert">
            {% for field, errors in form.errors.items() %}
                {% for error in errors %}
                    {{ error }}
                    <br>
                {% endfor %}
            {% endfor %}
    </div>
    <div class=features>
            <form action='/register' method='POST' enctype='multipart/form-data' class="form-group">
                {{ form.csrf_token() }}
                <div class="form-group">
                    {{ form.full_name.label }}
                    {{ form.full_name() }}
                </div>
                <div class="form-group">
                    {{ form.student_id.label }}
                    {{ form.student_id() }}
                </div>
                <br>
                <div class="form-group">
                    {{ form.gender.label }}
                    {{ form.gender() }}
                </div>
                 <div class="form-group">
                    {{ form.email.label }}
                    {{ form.email() }}
                 </div>
                 <div class="form-group">
                    {{ form.university_name.label }}
                    {{ form.university_name() }}
                 </div>
                 <div class="form-group">
                    {{ form.faculty_name.label }}
                    {{ form.faculty_name() }}
                 </div>
                 <div class="form-group">
                    {{ form.courses_codes.label }}
                    {{ form.courses_codes() }}
                 </div>
                 <div class="form-group">
                    {{ form.uploaded_file.label }}
                    {{ form.uploaded_file() }}
                 </div>
                 <br>
                    <button class="btn btn-primary"id="reset" type="button" onclick="resetFun()">Reset</button><br>
                    <button class="btn btn-primary" id="register" type="submit">Register</button><br>

            </form>
    </div>
    {% with messages = get_flashed_messages() %}
            {% for message in messages %}
                <br>
                <div class="text-center">{{ message }}</div>
            {% endfor %}
    {% endwith %}
{% endblock %}
